body{ width: 100%; margin: 0;
    padding: 0; background-color:black}
    
    
    
    fieldset{ background-color: teal; text-align: center; width: 650px; align-items: center;
    margin: 3% 0 0 25%;border: none; border-radius: 5%; height: 450px;}
    
    .legendlabel{
      color: white;
    }
    label{color: #1b1c1e; font-size: larger;}
    
    input[type=text]{
        width: 30%; height: 25px; 
      border: 2px solid #e23535;
    }
    
    ::placeholder{ color:  blue; padding: 25px;}
    .rate{
      margin-left: 50px ;border:none; width: 20%; height: 25px;
      color:red; font-size: larger;  background-color:  #f4eaeb;
    }
    
    .time{
      margin-left: 50px ; border : none; width: 20%; height : 25px;
      font-size: larger; color:red; background-color: #f4eaeb;
    }
    
    .send{
      margin-left: 100px; width: 20%; padding: 2%; 
      background-color: rgb(70, 70, 252); border: none;border-radius: 5%;
      color: whitesmoke;font-size: larger;
    }
.send:hover{cursor:pointer}
    
    
    
    
    @media screen and ( max-width: 680px)
    {
     body{
      background-color:#1b1c1e
      }
    fieldset{
      width: 400px;
      margin: 3% 8% 0 8%;
      background-color: #8a09fc;
    }
    
    .formp{ margin-left: -70px; color: white;}
    .legendlabel{
      color: white;
    }
    
    .formplabel{color: white;}
    
    input[type=text]{
      width: 45%;
    }
    
    
    }
    
